#menu-bars {
  position: absolute;

  top: 0;
  right: 0;
  height: $header-height;
  padding: 0 25px;

  line-height: $header-height;
  cursor: pointer;

  &:active {
    @extend .navbar__menu-item:active;
  }

  @include screen('tablet') {
    display: none;
  }
}

.navbar {
  height: 100%;

  background: inherit;
  font-size: $font-size-base;

  overflow: hidden;
  user-select: none;

  &.active {
    height: auto;
    overflow: visible;
  }

  @include screen('tablet') {
    overflow: visible;
  }

  &__menu-list {
    @extend %reset-list;
    @include screen('tablet') {
      display: flex;
    }
  }

  &__menu-item {
    position: relative;
    height: 46px;

    &:active {
      background: $color-black + 200%;
      color: $color-black;
    }

    @include screen('pc') {
      &:hover {
        background: $color-black + 200%;
        color: $color-black;

        .sub-menu {
          display: block;
        }
      }
    }
  }

  &__menu-link {
    @extend %reset-link;

    display: block;
    padding: 0 25px;

    line-height: $header-height;
    text-transform: uppercase;

    cursor: pointer;

    &.active {
      @extend .navbar__menu-item:active;
    }

    .icon-custom {
      padding-left: 5px;
    }
  }

  .sub-menu {
    @extend %reset-list;
    display: none;

    background: $color-white;
    color: $color-black;

    @include screen('tablet') {
      position: absolute;
      top: 100%;
      left: 0;

      min-width: 160px;
      box-shadow: 5px 5px 5px rgba($color-black, 0.3);
    }

    .navbar__menu-link {
      text-transform: capitalize;
    }
  }
}
