.navbar__menu-list, .navbar .sub-menu, .schedule {
  list-style: none; }

.navbar__menu-link {
  text-decoration: none;
  color: inherit; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-family: "Lato", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box; }

h2 {
  margin: 10px 0; }

p {
  margin: 15px 0; }

.grid {
  width: 100%;
  display: block;
  padding: 0; }
  .grid.wide {
    max-width: 800px;
    margin: 0 auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px; }

[class*='col-'] {
  display: block;
  padding-left: 4px;
  padding-right: 4px; }

.col-c-0 {
  display: none; }

.col-c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-c-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-c-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-c-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-c-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-c-o-1 {
  margin-left: 8.33333%; }

.col-c-o-2 {
  margin-left: 16.66667%; }

.col-c-o-3 {
  margin-left: 25%; }

.col-c-o-4 {
  margin-left: 33.33333%; }

.col-c-o-5 {
  margin-left: 41.66667%; }

.col-c-o-6 {
  margin-left: 50%; }

.col-c-o-7 {
  margin-left: 58.33333%; }

.col-c-o-8 {
  margin-left: 66.66667%; }

.col-c-o-9 {
  margin-left: 75%; }

.col-c-o-10 {
  margin-left: 83.33333%; }

.col-c-o-11 {
  margin-left: 91.66667%; }

@media (min-width: 46.25em) {
  .row {
    margin-left: -8px;
    margin-right: -8px; }
  [class*='col-'] {
    display: block;
    padding-left: 8px;
    padding-right: 8px; }
  .col-m-0 {
    display: none; }
  .col-m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-m-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-m-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-m-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-m-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .col-m-o-1 {
    margin-left: 8.33333%; }
  .col-m-o-2 {
    margin-left: 16.66667%; }
  .col-m-o-3 {
    margin-left: 25%; }
  .col-m-o-4 {
    margin-left: 33.33333%; }
  .col-m-o-5 {
    margin-left: 41.66667%; }
  .col-m-o-6 {
    margin-left: 50%; }
  .col-m-o-7 {
    margin-left: 58.33333%; }
  .col-m-o-8 {
    margin-left: 66.66667%; }
  .col-m-o-9 {
    margin-left: 75%; }
  .col-m-o-10 {
    margin-left: 83.33333%; }
  .col-m-o-11 {
    margin-left: 91.66667%; } }

@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .wide {
    width: 644px; } }

@media (min-width: 69.5625em) {
  .row {
    margin-left: -12px;
    margin-right: -12px; }
  [class*='col-'] {
    display: block;
    padding-left: 12px;
    padding-right: 12px; }
  .col-l-0 {
    display: none; }
  .col-l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-l-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-l-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-l-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-l-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .col-l-o-1 {
    margin-left: 8.33333%; }
  .col-l-o-2 {
    margin-left: 16.66667%; }
  .col-l-o-3 {
    margin-left: 25%; }
  .col-l-o-4 {
    margin-left: 33.33333%; }
  .col-l-o-5 {
    margin-left: 41.66667%; }
  .col-l-o-6 {
    margin-left: 50%; }
  .col-l-o-7 {
    margin-left: 58.33333%; }
  .col-l-o-8 {
    margin-left: 66.66667%; }
  .col-l-o-9 {
    margin-left: 75%; }
  .col-l-o-10 {
    margin-left: 83.33333%; }
  .col-l-o-11 {
    margin-left: 91.66667%; } }

@media (min-width: 64em) and (max-width: 77.4375em) {
  .wide {
    width: 984px; }
    .wide .row {
      margin-left: -12px;
      margin-right: -12px; }
    .wide [class*='col-'] {
      display: block;
      padding-left: 12px;
      padding-right: 12px; }
    .wide .col-l-0 {
      display: none; }
    .wide .col-l-1 {
      flex: 0 0 8.33333%;
      max-width: 8.33333%; }
    .wide .col-l-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%; }
    .wide .col-l-3 {
      flex: 0 0 25%;
      max-width: 25%; }
    .wide .col-l-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%; }
    .wide .col-l-5 {
      flex: 0 0 41.66667%;
      max-width: 41.66667%; }
    .wide .col-l-6 {
      flex: 0 0 50%;
      max-width: 50%; }
    .wide .col-l-7 {
      flex: 0 0 58.33333%;
      max-width: 58.33333%; }
    .wide .col-l-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%; }
    .wide .col-l-9 {
      flex: 0 0 75%;
      max-width: 75%; }
    .wide .col-l-10 {
      flex: 0 0 83.33333%;
      max-width: 83.33333%; }
    .wide .col-l-11 {
      flex: 0 0 91.66667%;
      max-width: 91.66667%; }
    .wide .col-l-12 {
      flex: 0 0 100%;
      max-width: 100%; }
    .wide .col-l-o-1 {
      margin-left: 8.33333%; }
    .wide .col-l-o-2 {
      margin-left: 16.66667%; }
    .wide .col-l-o-3 {
      margin-left: 25%; }
    .wide .col-l-o-4 {
      margin-left: 33.33333%; }
    .wide .col-l-o-5 {
      margin-left: 41.66667%; }
    .wide .col-l-o-6 {
      margin-left: 50%; }
    .wide .col-l-o-7 {
      margin-left: 58.33333%; }
    .wide .col-l-o-8 {
      margin-left: 66.66667%; }
    .wide .col-l-o-9 {
      margin-left: 75%; }
    .wide .col-l-o-10 {
      margin-left: 83.33333%; }
    .wide .col-l-o-11 {
      margin-left: 91.66667%; } }

.row.no-gutter {
  margin-left: 0;
  margin-right: 0; }
  .row.no-gutter [class*='col-'] {
    padding-left: 0;
    padding-right: 0; }

.header {
  position: relative;
  height: 46px;
  font-size: 1.5rem;
  background: #000;
  color: #fff;
  z-index: 999; }
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
  @media (min-width: 46.25em) {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between; } }
  .header__search {
    display: none;
    padding: 0 25px;
    line-height: 46px;
    cursor: pointer; }
    @media (min-width: 46.25em) {
      .header__search {
        display: block; }
        .header__search:active {
          background: #f44336; } }
    @media (min-width: 64em) {
      .header__search:hover {
        background: #f44336; } }

#menu-bars {
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  padding: 0 25px;
  line-height: 46px;
  cursor: pointer; }
  @media (min-width: 46.25em) {
    #menu-bars {
      display: none; } }

.navbar {
  height: 100%;
  background: inherit;
  font-size: 1.5rem;
  overflow: hidden;
  user-select: none; }
  .navbar.active {
    height: auto;
    overflow: visible; }
  @media (min-width: 46.25em) {
    .navbar {
      overflow: visible; } }
  @media (min-width: 46.25em) {
    .navbar__menu-list {
      display: flex; } }
  .navbar__menu-item {
    position: relative;
    height: 46px; }
    .navbar__menu-item:active, #menu-bars:active, .navbar__menu-link.active {
      background: #c8c8c8;
      color: #000; }
    @media (min-width: 64em) {
      .navbar__menu-item:hover {
        background: #c8c8c8;
        color: #000; }
        .navbar__menu-item:hover .sub-menu {
          display: block; } }
  .navbar__menu-link {
    display: block;
    padding: 0 25px;
    line-height: 46px;
    text-transform: uppercase;
    cursor: pointer; }
    .navbar__menu-link .icon-custom {
      padding-left: 5px; }
  .navbar .sub-menu {
    display: none;
    background: #fff;
    color: #000; }
    @media (min-width: 46.25em) {
      .navbar .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 160px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); } }
    .navbar .sub-menu .navbar__menu-link {
      text-transform: capitalize; }

.form-group input {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  outline: none; }

.form-control {
  margin-bottom: 10px;
  width: 100%; }

.btn {
  display: inline-block;
  margin-bottom: 16px;
  padding: 8px 16px;
  min-width: 100px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer; }
  .btn:hover {
    background: #b4b4b4;
    color: #000; }

#tour {
  background: #000;
  color: #fff; }

.section-box {
  padding: 64px 32px;
  font-size: 1.5rem;
  user-select: none; }
  .section-box__title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .section-box__sub-title {
    font-style: italic;
    letter-spacing: 2px;
    opacity: 0.6; }
  .section-box__title, .section-box__sub-title {
    text-align: center; }

.member {
  font-size: 1.5rem; }
  .member__item {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    text-align: center; }
    @media (min-width: 46.25em) {
      .member__item {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); } }
    @media (min-width: 64em) {
      .member__item {
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2); } }
  .member__item-name {
    font-size: 1.2em; }
  .member__item-img {
    width: 60%; }

.schedule {
  margin-top: 35px;
  background: #fff;
  color: rgba(0, 0, 0, 0.7); }
  .schedule__item {
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
  .schedule .sold-out {
    display: inline-block;
    margin-left: 16px;
    padding: 0 5px;
    background: #f44336;
    color: #fff; }
    .schedule .sold-out::before {
      content: 'Sold out'; }
  .schedule .number {
    width: 22px;
    height: 22px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-right: 16px;
    float: right;
    background: #000;
    color: #fff;
    text-align: center; }

.ticket {
  padding: 32px 0; }
  .ticket__img {
    width: 100%;
    vertical-align: middle; }
    .ticket__img:hover {
      opacity: 0.7; }
  .ticket__container {
    margin-bottom: 20px;
    padding: 0.01em 16px;
    background: #fff;
    color: #000; }
  .ticket .country {
    font-weight: 700; }
  .ticket .time {
    color: rgba(0, 0, 0, 0.7); }

.contact {
  margin-top: 35px; }
  .contact__info .icon-custom {
    margin-right: 10px;
    width: 20px; }
  .contact__info p {
    margin: 10px 0; }
  .contact__info a {
    opacity: 0.8; }
    .contact__info a:hover {
      opacity: 1; }
  .contact__form .btn-custom {
    padding: 12px 0;
    width: 100%;
    text-transform: uppercase; }
    @media (min-width: 64em) {
      .contact__form .btn-custom {
        float: right;
        padding: 10px 0;
        width: auto; } }

.c-align-justify {
  text-align: justify; }
